
  <h1>Welcome to Survey App</h1>

    <p>Create a new question:</p>

    <form action="/questions" method="post">
      <label for="question">Ask a Question:</label>
      <input id="question" name="question" type="text">

      <button type="submit">Add Question</button>
    </form>

    <p> Answer any question:</p>

    <form action="/answers" method="post">

      <label for="question_id">Select a Question</label>

      <select id="qestion_id" name="question_id" type='text'>

        <% @questions.each() do |question| %>
        <option value="<%= question.id()%>"> <%= question.question() %> </option>
        <% end %>
      </select>

      <label for="answer">Answer:</label>
      <input id="answer" name="answer" type="text">

      <button type="submit">Add Answer</button>
    </form>

    <% @answers.each() do |answer|%>
    <li><%= answer.answer %><a href="/answers/<%= answer.id()%>/edit">Update this answer</a></li>
    <% end %>

<h1>Here are all your answers:</h1>





    <% if @questions.any?() %>
    <p>Click on a question to see its answers:</p>

    <ul>
      <% @questions.each do |question| %>
      <li><a href="/questions/<%= question.id() %>"><%= question.question() %></a></li>
      <% end %>
    </ul>
    <% else %>
    <p>There are no questions yet!</p>
    <% end %>
